.range-slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width : 100%;
    z-index: 999;
  }
  
  .range-slider-track {
    position: relative;
    width: 100%;
    height: 5px;
    background: lightgray;
  }
  
  .range-slider-fill {
    position: absolute;
    height: 100%;
    background: black;
  }
  
  .range-slider {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    width: 100%;
    height: 5px;
    background: none;
    pointer-events: none;
  }
  
  .range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: auto;
    width : 8px;
    height: 20px;
    
    border : 2px solid black;
    border-radius : 2px;
    
    cursor: pointer;
    transform: translateX(-2px) translateY(-2px);
  }
  
  .range-slider::-moz-range-thumb {
    pointer-events: auto;
    width : 8px;
    height: 20px;
    
    border : 2px solid black;
    border-radius : 2px;
    
    cursor: pointer;
  }

  .range-slider.start-frame::-webkit-slider-thumb {
    background: black;
  }
  .range-slider.start-frame::-moz-range-thumb {
    background: black;
  }
  .range-slider.end-frame::-webkit-slider-thumb {
    background: black;
  }
  .range-slider.end-frame::-moz-range-thumb {
    background: black;
  }
  .range-slider.current-frame::-webkit-slider-thumb {
    background: white;
  }
  .range-slider.current-frame::-moz-range-thumb {
    background: white;
  }
  
  .range-values {
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align : center;
    width: 100%;
    font-size: 12px;
    color: black;
  }
  