* {
    box-sizing : border-box !important;
}

.app {
    display : flex;
    gap : 1rem;

    width : 100vw;
    height : 100vh;
    padding : 2rem;
}

.app .left-container {
    display : flex;
    gap:1rem;
    flex-direction : column;

    width : 40%;
    height : 100%;
   
}

.app .left-container .left-top-container {
    border : 2px solid lightgray;
    border-radius : 8px;
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    

    height : 60%;
}

.app .left-container .left-bottom-container {
    flex: 1;
    border : 2px solid lightgray;
    border-radius : 8px;
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    overflow-y : auto;
}

.app .right-container {
    flex : 1;
    height : 100%;

    border : 2px solid lightgray;
    border-radius : 8px;
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
}